{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
<div class="card">
    <b>Model Instances</b>
    <ul>
        <li>Person: {{ people_count }}</li>
        <li>Country: {{ country_count }}</li>
    </ul>
</div>

<div class="card">
   <b>Explanation:</b>
    {% autoescape off %}
    <p>{{explanation}}</p> 
    {% endautoescape %}
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Country</th>
    </tr>
{% for person in people %}
    <tr>
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.country.name }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
